header.CommonEntrance-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6em;
    width: 100%;
}

.CommonEntrance-headerLogoIcon{
    position: absolute;
    left: 0;
    top: 0;
    height: 6em;
    width: 6em;
}

.CommonEntrance-headerLogoFull{
    width: fit-content;
    height: 3.75em;
    position: absolute;
    top: 1.125em;
    margin: auto;
    left: 0px;
    right: 0px;
}

.CommonEntrance-headerLanguageDroplist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: initial;
    background: none;
    border: 0.0625em solid #ffffff40;
    border-radius: 0.25em;
    min-width: 4.375em;
    width: 4.375em;
    height: 2.625em;
    box-sizing: border-box;
    padding: 0 0.625em;
    margin: 0 0.75em 0 0;
    cursor: pointer;
}

.LanguageDroplist-languageIcon{
    width: 1.5em;
    height: 1em;
}

.LanguageDroplist-arrowIcon{
    background-color: #bfd5ff;
    width: 0.813em;
    height: 0.75em;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 2.79289C0.683417 2.40237 1.31658 2.40237 1.70711 2.79289L6 7.08579L10.2929 2.79289C10.6834 2.40237 11.3166 2.40237 11.7071 2.79289C12.0976 3.18342 12.0976 3.81658 11.7071 4.20711L6.70711 9.20711C6.31658 9.59763 5.68342 9.59763 5.29289 9.20711L0.292893 4.20711C-0.0976311 3.81658 -0.0976311 3.18342 0.292893 2.79289Z' fill='white'/%3E%3C/svg%3E");
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: contain;
}

.CommonEntrance-headerMusic{
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M10.5 1.5L4.5 7.5H0.75C0.335786 7.5 0 7.83579 0 8.25V15.75C0 16.1642 0.335787 16.5 0.75 16.5H4.5L10.5 22.5V1.5Z' fill='%23bfd5ff'/%3E%3Cpath d='M22.5 12C22.5 7.02944 18.4706 3 13.5 3V1.5C19.299 1.5 24 6.20101 24 12C24 17.799 19.299 22.5 13.5 22.5V21C18.4706 21 22.5 16.9706 22.5 12Z' fill='%23bfd5ff'/%3E%3Cpath d='M13.5 7.5C15.9853 7.5 18 9.51472 18 12C18 14.4853 15.9853 16.5 13.5 16.5V18C16.8137 18 19.5 15.3137 19.5 12C19.5 8.68629 16.8137 6 13.5 6V7.5Z' fill='%23bfd5ff'/%3E%3C/svg%3E") center / 1.5em no-repeat;
    border: 0.0625em solid #ffffff40;
    border-radius: 0.25em;
    cursor: pointer;
    width: 2.5em;
    height: 2.5em;
}

.CommonEntrance-headerMusic:hover{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M10.5 1.5L4.5 7.5H0.75C0.335786 7.5 0 7.83579 0 8.25V15.75C0 16.1642 0.335787 16.5 0.75 16.5H4.5L10.5 22.5V1.5Z' fill='white'/%3E%3Cpath d='M22.5 12C22.5 7.02944 18.4706 3 13.5 3V1.5C19.299 1.5 24 6.20101 24 12C24 17.799 19.299 22.5 13.5 22.5V21C18.4706 21 22.5 16.9706 22.5 12Z' fill='white'/%3E%3Cpath d='M13.5 7.5C15.9853 7.5 18 9.51472 18 12C18 14.4853 15.9853 16.5 13.5 16.5V18C16.8137 18 19.5 15.3137 19.5 12C19.5 8.68629 16.8137 6 13.5 6V7.5Z' fill='white'/%3E%3C/svg%3E");
}

button.CommonEntrance-headerMoreOptions{
    width: 6em;
    height: 6em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='96' height='96' viewBox='0 0 96 96' fill='none'%3E%3Crect x='33' y='33' width='8' height='8' rx='2' fill='%2376FF33'/%3E%3Crect x='33' y='45' width='8' height='8' rx='2' fill='%23BFD5FF'/%3E%3Crect x='33' y='57' width='8' height='8' rx='2' fill='%23BFD5FF'/%3E%3Crect x='45' y='33' width='8' height='8' rx='2' fill='%23BFD5FF'/%3E%3Crect x='45' y='45' width='8' height='8' rx='2' fill='%23BFD5FF'/%3E%3Crect x='45' y='57' width='8' height='8' rx='2' fill='%23BFD5FF'/%3E%3Crect x='57' y='33' width='8' height='8' rx='2' fill='%23BFD5FF'/%3E%3Crect x='57' y='45' width='8' height='8' rx='2' fill='%23BFD5FF'/%3E%3Crect x='57' y='57' width='8' height='8' rx='2' fill='%23BFD5FF'/%3E%3C/svg%3E") center / cover no-repeat;
    padding: 0;
    border: 0;
    font-size: 1em;
    cursor: pointer;
}

button.CommonEntrance-headerMoreOptions:hover{
    filter: grayscale(1) brightness(9);
}